.App {
  text-align: center;
}

.App-header {
  background-color: #dedede;
  min-height: 100vh;
  align-items: center;
  color: #3f4344;
}

h1 {
  margin: 0;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.book {
  display: flex;
  background-color: #FFFFFF;
  margin: auto;
  width: 60%;
  min-width: 600px;
  max-width: 850px;
  padding: 15px;
  border: 1px solid #ccc;
}

.book img {
  border: 1px solid #ccc;
  max-height: 208px;
  width: 130px;
}

.bookDetails {
  text-align: left;  
  padding: 3px 8px 3px 20px;
}

.bookDetails a {
  text-decoration: none;
  color: #02729e;
}

.bookDetails a:hover {
  text-decoration: underline;
}

.bookDetails p{
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 14px;
}
